<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12"><h1 class="text-center">Parqueos</h1><hr class="colorgraph"><br></div>
  <div class="col-md-5" style="">
    <% @parqueos.each do |parqueo| %>
        <% if parqueo.estado == true %>
            <button type="button" class="btn btn-danger col-md-2 col-sm-3" style="margin-bottom: 20px;"><i class="fa fa-times"></i>
            </button>
        <% else %>
            <button type="button" class="btn btn-success col-md-2 col-sm-3" style="margin-bottom: 20px;"><i class="fa fa-car"></i></button>
        <% end %>

    <% end %>
    <br>
    <%= link_to 'Registar nuevo parqueo', new_parqueo_path %>
  </div>
  <div class="col-md-4">
    <div class="alert alert-primary" role="alert">
      This is a secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>

<br>


